
<html>
<head>
  <title>North America Life Expectancy - {{year}}</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>



  <h1>North America Life Expectancy - {{year}}</h1>
  <div id="north_america">
    {% include 'north_america.svg' %}
  </div>

  <script>
     var canada=document.getElementsByClassName("Canada")
     var us=document.getElementsByClassName("US")
     var mexico=document.getElementsByClassName("Mexico")

     for (var i=0; i<canada.length; i++){
      canada[i].style.fill= "hsl(217,90%,{{100-canadavalue}}%)"
     }
     for (var i=0; i<us.length; i++){
      us[i].style.fill= "hsl(217,90%,{{100-usvalue}}%)"
     }
     for (var i=0; i<mexico.length; i++){
      mexico[i].style.fill= "hsl(217,90%,{{100-mexicovalue}}%)"
     }
  </script>

  <p>In {{year}}, Canada's life expectancy was {{canadavalue}}, the United States' life expectancy was {{usvalue}}, and Mexico's life expectancy was {{mexicovalue}}.</p>

  <footer>
    All data from <a href="https://data.worldbank.org/indicator/SP.DYN.LE00.IN?locations=MX-US-CA"> The World Bank</a>.
  </footer>
</body>
</html>
